<div style='background: #F8F9FA; padding: 20px; margin-bottom: 20px; box-shadow: 1px 1px 2px rgba(0,0,0,0.1); border-radius: 3px'>
  <%= simple_form_for (@flat) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.submit %>
  <% end %>
</div>
