<div class='top-background-image' style="background-image: url('<%= @flat.picture_url %>')">
</div>

<div class='container' style='margin-top: -75px'>
  <div class="row">
    <div class="col-8">
      <div class='default-card'>
        <h1><%= @flat.name %></h1>
        <p><%=  @flat.address %></p>
      </div>
      <div class='default-card'>
        <h3>A bit more about this place...</h3>
        <p><%= @flat.description %></p>
        <div style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=<%= @flat.address %>&zoom=13&scale=2&size=1000x1000&maptype=roadmap&markers=color:red%7C<%= @flat.address %>&key=AIzaSyAPpx0wk4d-AQ8bhe8-a-ihC7NXLoPElhg"></div>
      </div>
    </div>

    <div class="col-4">
      <div class='default-card'>
        <form action="">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">From:</span>
            <input type="text" class='form-control' placeholder='01/01/2022' aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text" id="basic-addon1">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
      </div>
      <div class='default-card'>
        <h3>Details</h3>
        <p><i class="fa-solid fa-people-roof"></i> <%= @flat.number_of_guests %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa-solid fa-brazilian-real-sign"></i> <%= @flat.price_per_night %></p>
      </div>

      <div class='default-card'>
        <span style='font-size: 1.5rem'>Share</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa-brands fa-facebook-square me-2"></i>
        <i class="fa-brands fa-twitter-square me-2"></i>
        <i class="fa-brands fa-pinterest-square me-2"></i>
      </div>
    </div>
  </div>

<%= link_to "Edit Flat", edit_flat_path(@flat), class: 'btn btn-primary' %>
</div>
