<h1><%= @flat.name %></h1>

<p>Address: <%=  @flat.address %></p>
<p>Description: <%=  @flat.description %></p>
<p>Price per night: <%=  @flat.price_per_night %></p>
<p>Number of guests: <%=  @flat.number_of_guests %></p>

<%= link_to "Edit Flat", edit_flat_path(@flat), class: 'btn btn-primary' %>
